body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.container h1 {
  text-align: center;
  font-size: 35px;
}

.user-list {
    border: dotted 3px green;
  
}

.user-data {
  width: 70%;
  margin:auto;
}

.user-data img {
  width: 100%;
  border-radius: 50%;
}

.user-data h3 {
  text-align: center;
}

.btn-user-add {
    background-color: rgb(133, 247, 40);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20;
    margin: auto;
    display: block;
}

/*Comenzando con media q*/


