* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  
}

.container h1 {
  text-align: center;
  font-size: 35px;
}

.user-list {
  background-color: #ffffff;
  border-style: solid;
  border-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
}

.user-data {
  width: 70%;
  margin: auto;
}

.user-data img {
  width: 100%;
  border-radius: 50%;
}

.user-data h3 {
  text-align: center;
}

.btn-user-add {
  background-color: rgb(133, 247, 40);
  color: #15007c;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto;
  display: block;
  margin-top: 25px;
}

/*Comenzando con media queries tamanio medio*/
@media (min-width: 768px) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .user-data {
    width: 48%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .user-list {
    max-width: 700px;
    margin: auto;
  }
  .user-data {
    width: 28%;
    text-align: center;
  }

  .user-data img {
    width: 80%;
  }
}
